/* Fix per le immagini full-width */
#project-content {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.section-image {
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.section-image img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

/* Fix iOS Safari: 100vw include la scrollbar, causando overflow orizzontale */
@supports (-webkit-touch-callout: none) {
    .section-image {
        width: 100%;
        left: 0;
        right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}